*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mySignin {
  width: 30%;
}
.myRegister {
  width: 50%;
}


.overlay {
  position: fixed; /* Sit on top of the page content */
  display: grid; /* Hidden by default */
  place-content: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
 
}


@media screen and (max-width : 1000px) {
  .account-tab {
    flex-direction: row !important;
  }
}
@media screen and (max-width : 768px) {
  .mySignin {
    width: 60%;
  }
  .myRegister {
    width: 80%;
  }

  .account-tab {
    flex-wrap: wrap;
  }
}
@media screen and (max-width : 568px) {
  .mySignin {
    width: 95%;
  }
  .myRegister {
    width: 100%;
  }
}
a:hover , .card:hover {
  cursor: pointer;
}