.dropdown-menu {
    border-top: 3px solid #e62e04 !important;
}
.dropdown-menu {
    border: 1px solid #eceff1;
    border-radius: 1px;
    min-width: 12rem;
    box-shadow: 0 5px 25px 0 rgb(123 123 123 / 15%);
    background-color: #fff;
    background-clip: padding-box;
}